:root{
  font: 300 20px/1.1 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  color: $main-col;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  background-color: #efefef;
  background-image: url('../images/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  text-align: center;
}

.main-header {
  width: 100%;
  background: linear-gradient(180deg, rgba(229, 229, 229, 0.9) 0%, rgba(229, 229, 229, 0) 100%);
    .title {
    border-bottom: 1px solid $main-col;
    font-size: 1.4rem;
    font-weight: 300;
    margin: 15px auto 0;
    width: 280px;
  }
}

.main-footer {
  align-items: center;
  color: $second-col;
  display: flex;
  justify-content: space-around;
  max-width: 220px;
  width: 100%;
  .copyrights {
    background-color: $main-col-trans;
    border-radius: 25px;
    color: inherit;
    font-size: 0.45rem;
    text-decoration: none;
    width: 120px;
    padding: 9px 0;
    &:hover {
      color: $attention-col;
      cursor: pointer;
    }
  }
  #AwLogo {
    height: 36px;
    width: 40px;
    background-image: url('../images/AW_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#app {
  .display {
    @extend %container;
    .display-box {
      @extend %box;
      background-color: $second-col-trans;
      color: #000;
    }
    .weather-details {
      font-size: .7rem;
      line-height: 1.1;
      position: relative;
      width: 240px;
      div {
        padding-bottom: 12px;
        &:last-of-type {
          padding-bottom: 0;
        }
      }
      h3 {
        font-weight: 400;
        font-size: .7rem;
      }
    }
  }
  .buttons {
    @extend %container;
    .btn {
      @extend %box;
      @extend %reset;
      background-color: $main-col-trans;
      color: $second-col;
      -webkit-appearance: none;
      &:hover {
        color: $attention-col;
        cursor: pointer;
      }
    }
  }
}

